
chromadb==0.5.5
gradio==4.39.0
gradio_client==1.1.1
greenlet==3.0.3
huggingface-hub==0.24.3
langchain==0.2.11
langchain-chroma==0.1.2
langchain-community==0.2.10
langchain-core==0.2.25
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langchainhub==0.1.21
langsmith==0.1.94
pypdf==4.3.1
torch==2.2.2
tqdm==4.66.4
transformers==4.43.3